{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : {{ad.title}} !{% endblock %}

{% block stylesheets %}
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />

{% endblock %}

{% block body %}
  <div class="container">
    <h2 class="mt-3">  Réservez l'annonce : <strong>{{ ad.title }}</strong></h2>
    <p class="mt-3">Vous etes sur le point de reserver le bien de : <strong>{{ ad.author.fullname}}</strong>&nbspDites-nous tous on s'occupe du reste!!</p>
    {{ form_start(form)}}
        <div class="bg-light py-3 px-3">
           <h2>Vos dates d'entrée et de depart !</h2>
            <div class="row mt-4">
                <div class="col-md-4">{{form_row(form.startDate)}}</div>
                <div class="col-md-4">{{form_row(form.endDate)}}</div>
            </div>
                <h4 class="mt-3">Montant du Sejour : <span id="amount">...</span>€</h4>
                <span id="days">0</span> nuit(s) à {{ad.price}} / nuit.
                <h2 class="mt-3">Vous avez un commentaire?</h2>
                <div class="col-md-6 mt-4">{{form_row(form.comment)}}</div>
          </div>
          <h2 class="mt-3">Vous avez terminé!!</h2>
          <p>Vacances de reve? Hebergement pour le boulot? Peu importe,On est avec vous !!</p>
         <button type="submit" class="btn btn-success mt-2">Je réserve !</button>
     {{form_end(form)}}
    </div> 
{% endblock %}

{% block javascripts %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>

 <script>
   $(document).ready(function(){

     $('#booking_startDate, #booking_endDate').datepicker({
         format : 'dd/mm/yyyy',
         datesDisabled:[
             {% for day in ad.notAvailableDays %}
              "{{day.format('d/m/Y')}}",
             {% endfor %}
         ],
         startDate:new Date()
     });

     $('#booking_startDate, #booking_endDate').on('change', CalculateAmount);
   });

   function CalculateAmount(){
     // on choppe les dates
     //const endDate = new Date($('#booking_endDate').val()); ici je recupere une chaine de caractere au format francais alors que javascript comprend que les dates au format internationale (année-mois-jour)! pour s'y faire on introduit la fction replace()

     const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));
    // nous avons une date 23/08/2019 et on veut la transformée en 2019-08-23

    // on crée une expression regulière qui represente la date 23/08/2019:: \d+\/\d+\/\d{4}
    // apres on capture ce que l'on trouve ds l'expression reguliére::(\d+)\/(\d+)\/(\d{4})
    // apres on met l'expression regulière ds la fctionn replace. le $3-$2-$1 veut dire que je chope ds un premier tps l'année qui est en troisieme position ds mon expression regulière ,apres le mois et ensuite le jour.

     const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));

     if(startDate && endDate && startDate < endDate){

       const DAY_TIME = 24 * 60 * 60 * 1000; // le nombre de milliseconde ds une jrnée
       // si on fait startDate - endDate javascipt ne comprend pas parce que ce st des objetc datetime
       // par contre la fction getTimen de javascript associée a nos constantes nous donne un timestamp!!!
       const interval = endDate.getTime() - startDate.getTime(); // la j'ai le nombre de milliseconde du sejour
       const days = interval / DAY_TIME; // la j'ai le nombre de jours
       const amount = days * {{ ad.price }};
       // ici on gere automatiquement ds l'affichage twig le nombre de jours du sejour 
       $('#days').text(days);

       // ici on gere automatiquement ds l'affichage twig le montant que vaut le sejour
       $('#amount').text(amount.toLocaleString('fr-FR'));
     }

     
  };

 </script>

{% endblock %}
